In [35]:
import pandas as pd
import matplotlib as mpl

In [36]:
df = pd.read_csv("dataset.csv")

In [37]:
df.head()

,Case_No,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,Age_Mons,Qchat-10-Score,Sex,Ethnicity,Jaundice,Family_mem_with_ASD,Who completed the test,Class/ASD Traits
0,1,0,0,0,0,0,0,1,1,0,1,28,3,f,middle eastern,yes,no,family member,No
1,2,1,1,0,0,0,1,1,0,0,0,36,4,m,White European,yes,no,family member,Yes
2,3,1,0,0,0,0,0,1,1,0,1,36,4,m,middle eastern,yes,no,family member,Yes
3,4,1,1,1,1,1,1,1,1,1,1,24,10,m,Hispanic,no,no,family member,Yes
4,5,1,1,0,1,1,1,1,1,1,1,20,9,f,White European,no,yes,family member,Yes

In [38]:
df.describe()

,Case_No,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,Age_Mons,Qchat-10-Score
count,1054.000000,1054.000000,1054.000000,1054.000000,1054.000000,1054.000000,1054.000000,1054.000000,1054.000000,1054.000000,1054.000000,1054.000000,1054.000000
mean,527.500000,0.563567,0.448767,0.401328,0.512334,0.524668,0.576850,0.649905,0.459203,0.489564,0.586338,27.867173,5.212524
std,304.407895,0.496178,0.497604,0.490400,0.500085,0.499628,0.494293,0.477226,0.498569,0.500128,0.492723,7.980354,2.907304
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,12.000000,0.000000
25%,264.250000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,23.000000,3.000000
50%,527.500000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000,30.000000,5.000000
75%,790.750000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,36.000000,8.000000
max,1054.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,36.000000,10.000000

In [39]:
df.isna().any()

Case_No                   False
A1                        False
A2                        False
A3                        False
A4                        False
A5                        False
A6                        False
A7                        False
A8                        False
A9                        False
A10                       False
Age_Mons                  False
Qchat-10-Score            False
Sex                       False
Ethnicity                 False
Jaundice                  False
Family_mem_with_ASD       False
Who completed the test    False
Class/ASD Traits          False
dtype: bool

In [40]:
# Need to drop data that is not important
df = df.drop(["Case_No"],axis = 'columns')
df.head()

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,Age_Mons,Qchat-10-Score,Sex,Ethnicity,Jaundice,Family_mem_with_ASD,Who completed the test,Class/ASD Traits
0,0,0,0,0,0,0,1,1,0,1,28,3,f,middle eastern,yes,no,family member,No
1,1,1,0,0,0,1,1,0,0,0,36,4,m,White European,yes,no,family member,Yes
2,1,0,0,0,0,0,1,1,0,1,36,4,m,middle eastern,yes,no,family member,Yes
3,1,1,1,1,1,1,1,1,1,1,24,10,m,Hispanic,no,no,family member,Yes
4,1,1,0,1,1,1,1,1,1,1,20,9,f,White European,no,yes,family member,Yes

In [53]:
# Get the correlation matrix

df_encoded = pd.get_dummies(df, columns=["Sex", "Ethnicity", "Jaundice", "Family_mem_with_ASD", "Who completed the test", "Class/ASD Traits "])

# Compute the correlation matrix
correlation_matrix = df_encoded.corr()

print(correlation_matrix['Class/ASD Traits _Yes'])

A1                                                 0.503810
A2                                                 0.463467
A3                                                 0.409701
A4                                                 0.505204
A5                                                 0.563297
A6                                                 0.569424
A7                                                 0.563177
A8                                                 0.427155
A9                                                 0.577336
A10                                                0.179833
Age_Mons                                           0.066831
Qchat-10-Score                                     0.810423
Sex_f                                             -0.117664
Sex_m                                              0.117664
Ethnicity_Hispanic                                 0.025481
Ethnicity_Latino                                   0.027020
Ethnicity_Native Indian                            0.035752
Ethnicity_Others                                   0.055282
Ethnicity_Pacifica                                 0.034871
Ethnicity_White European                           0.085174
Ethnicity_asian                                    0.024954
Ethnicity_black                                    0.022476
Ethnicity_middle eastern                          -0.181515
Ethnicity_mixed                                   -0.012432
Ethnicity_south asian                             -0.039354
Jaundice_no                                       -0.074060
Jaundice_yes                                       0.074060
Family_mem_with_ASD_no                             0.013503
Family_mem_with_ASD_yes                           -0.013503
Who completed the test_Health Care Professional    0.019584
Who completed the test_Health care professional   -0.043422
Who completed the test_Others                      0.035752
Who completed the test_Self                        0.007918
Who completed the test_family member              -0.012824
Class/ASD Traits _No                              -1.000000
Class/ASD Traits _Yes                              1.000000
Name: Class/ASD Traits _Yes, dtype: float64